<div class="row">
    <div class="col-md-2">
        <h4 ng-show="isAdmin"><a href="gallery/new"><i class="glyphicon glyphicon-plus-sign"></i> Add to Gallery</a></h4>
        <div ng-show="filters.length > 0">
            <h3>Filter:</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search = ''">X</button>
      </span>
            </div>
            <h4>Categories</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="filter in filters">
                    <span class="badge">{{filter.count}}</span>
                    <a href="#" ng-click="searchByCategory(filter.name)">{{filter.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" style="margin-top:10px;">
            <h4 ng-show="galleryItems.$resolved && galleryItems.length < 1">
               No items to display...
           </h4>

            <div ng-show="item.title" class="col-md-3" ng-repeat="item in galleryItems | filter: search">
                <div class="well well-sm" ng-click="selected">
                    <a href="gallery/{{item._id}}">
                        <img ng-src="http://res.cloudinary.com/{{appSettings.cloudName}}/image/upload/{{(item.transformations) ? item.transformations + ',': ''}}w_180,h_75,c_fill/{{item.imageID}}.{{item.imageFormat}}" class="img-thumbnail" />
                    </a>
                    <h4>{{item.title}}</h4>
                    <p ng-show="isAdmin">Displayed on Home Page: {{item.displayOnHome}}</p>
                    <p>{{item.shortDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>