
.direct_upload, .direct_upload_jquery { border: 4px dashed #ccc; }
.direct_upload.dragover { border-color: #0c0; }
.direct_upload.dragover-err { border-color: #c00; }

upload_button_holder {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}