<div class="row">
    <div class="col-md-2">
        <div ng-show="galleryItems.$resolved && galleryItems.length">
            <h3>Filter:</h3>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row" style="margin-top:10px;">
            <div ng-show="item.title" class="col-md-3" ng-repeat="item in galleryItems">
                <div class="well well-sm" ng-click="selected">
                    <a href="gallery/{{item._id}}"><img ng-src="http://res.cloudinary.com/{{appSettings.cloudName}}/image/upload/{{(item.transformations) ? item.transformations + ',': ''}}w_180,h_75,c_fill/{{item.imageID}}.{{item.imageFormat}}" class="img-thumbnail" /></a>
                    <h4>{{item.title}}</h4>
                    <p ng-show="isAdmin">Displayed on Home Page: {{item.displayOnHome}}</p>
                    <p>{{item.shortDescription}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>